<svg zoomable ng-controller="sgSbmlLayoutCtrl" xmlns="http://www.w3.org/2000/svg" ng-attr-height="{{imports.height || 800}}"
ng-attr-width="{{imports.width || 800}}">
  <style>
  svg .node.species {
    stroke: #FFB800;
    stroke-width: 3px;
    size: 300px;
  }
  svg .link {
    stroke: black;
    stroke-width: 3px;
  }
  svg .link.modifier {
    stroke-dasharray: 5, 5;
  }
  svg .node-label {
    font-size: 14px;
    font-family: Georgia;
    font-weight: bolder;
    text-anchor: middle;
    dominant-baseline: middle;
  }
  svg .node.selected {
    stroke: #FF0000;
  }
  /*
  svg .link.selected {
    stroke: #FF0000;
  }*/
  svg marker {
    overflow: visible;
  }
  svg .null-symbol {
    fill: none;
    stroke: black;
    stroke-width: 3px;
  }
  </style>
  <defs>
    <marker 
      case-sensitive="refX,refY" 
      id="production" 
      viewBox="0 0 10 10" 
      ng-attr-refX="{{-2}}"
      ng-attr-refY="{{0}}" 
      markerWidth="10" 
      markerHeight="10" 
      orient="auto">
      <path 
        fill="url(#markerGradient)" 
        stroke="#0013FF" 
        transform="rotate(-90)" 
        ng-attr-d="{{arrow({size: 10, type: 'triangle-down'})}}">
      </path>
    </marker>
    <marker 
      case-sensitive="refX,refY" 
      id="degradation" 
      viewBox="0 0 10 10" 
      ng-attr-refX="{{-2}}"
      ng-attr-refY="{{0}}" 
      markerWidth="10" 
      markerHeight="10" 
      orient="auto">
      <path 
        fill="url(#markerGradient)" 
        stroke="#0013FF" 
        transform="rotate(-90)" 
        ng-attr-d="{{arrow({size: 10, type: 'triangle-down'})}}"></path>
    </marker>
    <marker 
      case-sensitive="refX,refY" 
      id="modifier" 
      viewBox="0 0 10 10" 
      markerWidth="30"
      markerHeight="30" 
      ng-attr-refX="{{-0.4}}" 
      ng-attr-refY="{{0}}" 
      orient="auto">
      <path 
        stroke="black" 
        stroke-width="0.3" 
        fill="none" 
        ng-attr-d="{{arrow({size: 1, type: 'circle'})}}">
      </path>
    </marker>
    <linearGradient id="gradient">
      <stop offset="5%" stop-color="#FFDC9E"></stop>
      <stop offset="95%" stop-color="#FFF"></stop>
    </linearGradient>
    <linearGradient id="markerGradient">
      <stop offset="5%" stop-color="rgb(97, 116, 255)"></stop>
      <stop offset="95%" stop-color="#FFF"></stop>
    </linearGradient>
    <linearGradient id="reactionGradient">
      <stop offset="5%" stop-color="#B0C0FF"></stop>
      <stop offset="95%" stop-color="#FFF"></stop>
    </linearGradient>
  </defs>
  <g ng-attr-transform="translate({{translate.x || 0}}, {{translate.y || 0}})scale({{scale || 1}})">
    <g 
      ng-repeat="link in lines.production"
      ng-switch on="imports.showArcs"
      ng-click="clickLink(link)"
      >
      <path
        ng-attr-d="
          M {{link.x1}} {{link.y1}}
          C
          {{link.reaction.getCp2().x}} {{link.reaction.getCp2().y}}
          {{link.cp2.x}} {{link.cp2.y}}
          {{link.x2}} {{link.y2}}
        "
        marker-end="url(#production)"
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-stroke="{{link.reaction.selected ? 'red' : 'black'}}"
        ng-attr-stroke-width="{{'3px'}}"
        fill="none"
      />
      <g
        ng-if="link.reaction.selected"
      >
        <line
          stroke="red"
          stroke-dasharray="10, 5"
          ng-attr-x1="{{link.x2}}"
          ng-attr-y1="{{link.y2}}"
          ng-attr-x2="{{link.cp2.x}}"
          ng-attr-y2="{{link.cp2.y}}"
        />
        <circle
          stroke="red"
          ng-attr-cx="{{link.cp2.x}}"
          ng-attr-cy="{{link.cp2.y}}"
          ng-attr-r="{{7}}"
          fill="none"
        />
      </g>
      <line
        ng-if="false"
        class="reaction production link"
        ng-attr-opacity="{{link.opacity}}"
        marker-end="url(#production)"
        ng-attr-x1="{{link.x1}}"
        ng-attr-y1="{{link.y1}}"
        ng-attr-x2="{{link.x2}}"
        ng-attr-y2="{{link.y2}}">
      </line>
    </g>
    <g 
      ng-repeat="link in lines.reactant" 
      ng-switch on="imports.showArcs"
      ng-click="clickLink(link)"
    >
      <path
        ng-attr-d="
          M {{link.x1}} {{link.y1}}
          C 
          {{link.cp1.x}} {{link.cp1.y}}
          {{link.reaction.getCp1().x}} {{link.reaction.getCp1().y}}
          {{link.x2}} {{link.y2}}
        "
        fill="none"
        ng-attr-stroke="{{link.reaction.selected ? 'red' : 'black'}}"
        ng-attr-stroke-width="{{'3px'}}"
        ng-attr-opacity="{{link.opacity}}"
      />
      <g
        ng-if="link.reaction.selected"
      >
        <line
          stroke="red"
          stroke-dasharray="10, 5"
          ng-attr-x1="{{link.x1}}"
          ng-attr-y1="{{link.y1}}"
          ng-attr-x2="{{link.cp1.x}}"
          ng-attr-y2="{{link.cp1.y}}"
        />
        <circle
          stroke="red"
          ng-attr-cx="{{link.cp1.x}}"
          ng-attr-cy="{{link.cp1.y}}"
          ng-attr-r="{{7}}"
          fill="none"
          
        />
      </g>
      <line 
        ng-switch-default
        ng-if="false"
        ng-click="App.selectReaction(link.target.id); isSelected = !isSelected" 
        ng-class="{selected: isSelected}"
        class="reaction reactant link"
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-x1="{{link.x1}}"
        ng-attr-y1="{{link.y1}}"
        ng-attr-x2="{{link.x2}}"
        ng-attr-y2="{{link.y2}}">
      </line>
    </g>
    <g ng-repeat="link in lines.modifier" ng-switch on="imports.showArcs">
      <path 
        ng-switch-when="true"
        class="modifier link" 
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-d={{linkArc(link)}}
        fill="none"
        ></path>
      <line 
        ng-switch-default
        ng-click="App.selectReaction(link.target.id); isSelected = !isSelected" 
        ng-class="{selected: isSelected}" 
        class="modifier link" 
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-x1="{{link.x1}}"
        ng-attr-y1="{{link.y1}}" 
        ng-attr-x2="{{link.x2}}" 
        ng-attr-y2="{{link.y2}}"
        marker-end="url(#modifier)">
      </line>
    </g>
    <g
      ng-repeat="link in lines.source" 
      ng-switch on="imports.showArcs"
      >
      <path 
        ng-switch-when="true"
        class="source link"
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-d={{linkArc(link)}}
        fill="none"
        ></path>
      <line
        ng-switch-default
        class="source link"
        ng-attr-x1="{{link.x1}}"
        ng-attr-y1="{{link.y1}}" 
        ng-attr-x2="{{link.x2}}" 
        ng-attr-y2="{{link.y2}}"></line>
    </g>
    <g
      ng-repeat="link in lines.sink"
      ng-switch on="imports.showArcs"
      >
      <path 
        ng-switch-when="true"
        class="sink link"
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-d={{linkArc(link)}}
        fill="none"
        ></path>
      <line
        ng-switch-default
        class="sink link"
        ng-attr-opacity="{{link.opacity}}"
        ng-attr-x1="{{link.x1}}"
        ng-attr-y1="{{link.y1}}" 
        ng-attr-x2="{{link.x2}}" 
        ng-attr-y2="{{link.y2}}"
        marker-end="url(#production)"></line>
    </g>
    <g 
      draggable 
      ng-repeat="node in species" 
      ng-click="imports.events.click(node, this, $event)"
      ng-mouseover="imports.events.mouseover(node, this, $event)"
      ng-mouseleave="imports.events.mouseleave(node, this, $event)"
      ng-attr-opacity="{{node.opacity}}"
      ng-attr-transform="translate({{node.x}},{{node.y}})">
      <rect 
        ng-class="{selected: node.fixed}" 
        class="species node"
        ng-attr-x="{{-node.width/2}}"
        ng-attr-y="{{-node.height/2}}"
        ng-attr-width="{{node.width}}" 
        ng-attr-height="{{node.height}}"
        ng-attr-ry="{{node.height/2}}"
        fill="url(#gradient)"
        ng-click="App.selectSpecies(node.id); isSelected = !isSelected;">
      </rect>
      <text class="node-label">{{node.id | truncateTo:8}}</text>
      <title>ID: {{node.id}}, Name: {{node.name}}</title>
    </g>
    <g 
      draggable 
      ng-repeat="node in reactions" 
      ng-click="clickNode(node)"
    >
      <circle 
        ng-class="node.classes" 
        class="node" 
        ng-attr-r="{{4}}"
        fill="black" 
        stroke="black"
        ng-attr-opacity="{{imports.showReactionNodes ? 1 : 0}}"
        ng-attr-transform="translate({{node.x}},{{node.y}})"
        ng-click="openReactionModal(node)">
        <title>ID: {{node.id}}, Name: {{node.name}}</title>
      </circle>
      <g
        ng-if="node.selected"
      >
        <line
          stroke="red"
          stroke-dasharray="10, 5"
          ng-attr-x1="{{node.getCp1().x}}"
          ng-attr-y1="{{node.getCp1().y}}"
          ng-attr-x2="{{node.getCp2().x}}"
          ng-attr-y2="{{node.getCp2().y}}"
        />
        <circle
          stroke="red"
          ng-attr-cx="{{node.getCp1().x}}"
          ng-attr-cy="{{node.getCp1().y}}"
          ng-attr-r="{{7}}"
          fill="none"
        />
        <circle
          stroke="red"
          ng-attr-cx="{{node.getCp2().x}}"
          ng-attr-cy="{{node.getCp2().y}}"
          ng-attr-r="{{7}}"
          fill="none"
        />
      </g>
      <text class="node-label">{{}}</text>
    </g>
    <g 
      draggable 
      ng-repeat="node in sourceNodes" 
      ng-attr-transform="translate({{node.x}},{{node.y}})">
      <g class="null-symbol">
        <circle 
          class = "node"
          ng-class="{selected: node.fixed}" 
          ng-attr-r="{{node.height / 2}}"
          fill="white">
        </circle>
        <line 
          class = "node"
          ng-class="{selected: node.fixed}" 
          ng-attr-x1="{{-10}}" 
          ng-attr-y1="{{10}}"
          ng-attr-x2="{{10}}" 
          ng-attr-y2="{{-10}}">
        </line>
      </g>
    </g>
    <g 
      draggable 
      ng-repeat="node in sinkNodes" 
      ng-attr-transform="translate({{node.x}},{{node.y}})">
      <g class="null-symbol">
        <circle 
          ng-attr-r="{{node.height / 2}}"
          class = "node"
          ng-class="{selected: node.fixed}" 
          fill="white"
          >
        </circle>
        <line 
          class = "node"
          ng-class="{selected: node.fixed}" 
          ng-attr-x1="{{-10}}" 
          ng-attr-y1="{{10}}"
          ng-attr-x2="{{10}}" 
          ng-attr-y2="{{-10}}">
        </line>
      </g>
    </g>
  </g>
</svg>
