<html>

<head>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/lodash/dist/lodash.js"></script>
  <script src="../bower_components/x2js/xml2json.js"></script>
  <script src="../src/app.js"></script>
  <script src="../src/standalone/standalone.js"></script>
  <script src="../src/controllers/sbmlDataCtrl.js"></script>
  <script src="../src/controllers/sbmlLayoutCtrl.js"></script>
  <script src="../src/directives/graphene.js"></script>
  <script src="../src/services/sbml.js"></script>
  <script src="../build/graphene-templates.js"></script>
</head>

<body ng-app="graphene-standalone">
  <div ng-init="
    sbmlUrl='BIOMD0000000012.xml';
    width=1000;
    height=1000;
    charge=-550;
    linkDistance=80;
    nodeSize = {
      width: 90,
      height: 30
    };
    ">
    <div ng-controller="sgSbmlDataCtrl">
      Charge <input type="number" ng-model="charge"></input>
      Gravity <input type="number" ng-model="gravity"></input>
      Link Distance <input type="number" ng-model="linkDistance"></input>
      Zoom <input type="checkbox" ng-model="exports.zoom"></input>
      <sg-graphene imports="exports" template="template/sbml.html"></sg-graphene>
    </div>
  </div>
</body>

</html>
