<html>

<head>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/lodash/dist/lodash.js"></script>
  <script src="../bower_components/x2js/xml2json.js"></script>
  <script src="../src/app.js"></script>
  <script src="../src/standalone/standalone.js"></script>
  <script src="../src/controllers/sbmlDataCtrl.js"></script>
  <script src="../src/controllers/sbmlLayoutCtrl.js"></script>
  <script src="../src/directives/graphene.js"></script>
  <script src="../src/services/sbml.js"></script>
  <script src="../src/services/geo.js"></script>
  <script src="../build/graphene-templates.js"></script>
</head>

<body ng-app="graphene-standalone">
  <div ng-init="
    sbmlUrl='Glycolysis.xml';
    width=1300;
    height=1000;
    charge=-2500;
    gravity=0.2;
    linkDistance=5;
    nodeSize = {
      width: 90,
      height: 30
    };
    ">
    <div ng-controller="sgSbmlDataCtrl">
      Allow unstick <input type="checkbox" ng-model="exports.allowUnstick"></input>
      Show reaction nodes <input type="checkbox" ng-model="exports.showReactionNodes"></input>
      Show arcs <input type="checkbox" ng-model="exports.showArcs"></input>
      Charge <input type="number" ng-model="charge" step="10" min="-5000" max="0"></input>
      Gravity <input type="number" ng-model="gravity" min="0" max="1" step="0.1"></input>
      Link Distance <input type="number" ng-model="linkDistance" min="0" max="100" step="1"></input>
      Zoom <input type="checkbox" ng-model="exports.zoom"></input>
      Show Modifiers <input type="checkbox" ng-model="linkModifiers"></input>
      <sg-graphene imports="exports" template="template/sbml.html"></sg-graphene>
    </div>
  </div>
</body>

</html>
